<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>536967123123-lp9seq073oo2pjl935e2rjkkoqk45ttc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.536967123123-lp9seq073oo2pjl935e2rjkkoqk45ttc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>536967123123-orve32286g336msp5ug4qhdafkgc9rs5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB6swT3czNUv44fkpXLsEJUkiUO4gH3KLE</string>
	<key>GCM_SENDER_ID</key>
	<string>536967123123</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nuces.gdscAdmin</string>
	<key>PROJECT_ID</key>
	<string>gdsc-nuces-khi</string>
	<key>STORAGE_BUCKET</key>
	<string>gdsc-nuces-khi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:536967123123:ios:6edfd78fcc0a256331e0c6</string>
</dict>
</plist>